input[type=checkbox] {
    opacity: 0;

    +b {
        position: relative;
        display: inline-block;
        background-color: $white;
        border: 2px solid $grey;
        border-radius: 4px;
        font-size: 20px;
        color: $green;
        cursor: pointer;
        line-height: 1;
        outline: 0;
        text-align: center;
        vertical-align: bottom;
        height: 18px;
        width: 18px;
    }

    &:hover {
        +b {
            border-color: $green;

            &:after {
                color: $green;
                content: '\2714';
            }
        }
    }

    &:checked {
        +b:after {
            content: '\2714';
        }

        &:hover {
            +b {
                border-color: $red;

                &:after {
                    color: $red;
                    content: '\2716';
                }
            }
        }
    }

    &:disabled {
        +b {
            background-color: $grey;

            &:after {
                content: '';
            }
        }

        &:hover {
            +b {
                border-color: $grey;
                cursor: not-allowed;

                +span {
                    cursor: not-allowed;
                }
            }
        }

        &:checked {
            +b:after {
                content: '\2714';
            }

            &:hover {
                +b:after {
                    color: $green;
                    content: '\2714';
                }
            }
        }
    }
}
