.documents-header {
    padding: 40px;
    font-weight: 300;
}

.documents-container {
    .table-documents {
        padding: 10px;
        width: 90%;
        margin: 0 auto;
    }

    .documents-table {
        width: 100%;
        margin-top: 1rem;
        border-collapse: collapse;
        color: $color-grey;

        &-head tr th {
            text-overflow: ellipsis;
            font-weight: 400;
            font-size: 1.5em;
            text-align: left;
            padding-bottom: 1rem;
            @include draw-border-color(1px, solid, $table-th-color, bottom)
        }

        .file {
            text-align: center;
        }

        tr {
            z-index: 0;
            @include draw-border-color(1px, solid, $table-border-color, bottom)
        }

        //table row
        &-body {

            tr td {
                padding: 1rem .2rem;
            }

            td:nth-child(1) {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                font-size: 1.4rem;

                &::after {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    display: inline-block;
                    content: '';
                    width: 2em;
                    height: 2em;
                    z-index: -2;
                }
            }
        }
    }
}

.file-icon {
    &.fa-folder-o {
        color: $color-grey;
    }

    &.fa-file-excel-o {
        color: $color-green;
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    @include mobile-documents-layout;

    thead tr {
        display: none;
    }
    
    tr {
        border: 1px solid $table-border-color;
        border-collapse: collapse;
        margin: 20px;
        box-shadow: 0 0 0 0px $table-border-color;
    }

    #documents td {
        border: none;
        border-bottom: 1px solid $table-border-color;
        position: relative;
        padding-left: 40%;
        overflow: hidden;
        text-overflow: ellipsis;

        &:first-child {
            background-color: $table-th-color;
        }

        &:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            font-style: italic;
            padding: 10px 0px 10px 0px;
        }

        @include mobile-documents-table-header;
    }

    .documents-container .documents-table-body td:nth-child(1) {
        justify-content: flex-end;
        padding: 15px;
    }

}

.new-item {
    display: table-caption;
    font-size: 0.66em;
    position: relative;
    color: $color-red;
    left: -10px;

    &::before {
        content: 'New';
    }
}