.documents-header {
    @include padding(40px, 40px, 40px, 40px);
    font-weight: 300;
}

.documents-container {
    .table-documents {
        padding: 10px;
        width: 90%;
        margin: 0 auto;
    }

    .documents-table {
        width: 100%;
        margin-top: 1rem;
        border-collapse: collapse;
        color: $color-grey;

        &-head tr th {
            @include draw-border-color(1px, solid, $table-th-color, bottom);
            @include font-size(20px);
            text-overflow: ellipsis;
            font-weight: 400;
            text-align: left;
            padding-bottom: 1rem;
        }

        .file {
            text-align: center;
            width: 70px;
        }

        tr {
            @include draw-border-color(1px, solid, $table-border-color, bottom);
        }

        &-body {

            tr td {
                padding: 1rem .2rem;
            }

            td:nth-child(1) {
                @include font-size(16px);
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                &::after {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    display: inline-block;
                    content: '';
                    width: 2em;
                    height: 2em;
                    z-index: -2;
                }
            }
        }
    }
}

.file-icon {
    &.fa-folder-o {
        color: $color-grey;
    }

    &.fa-file-excel-o {
        color: $color-green;
    }
}

.new-item {
    position: relative;
    color: $color-red;
    top: -10px;
}

@include breakpoint(phone) {
    @include mobile-documents-layout;

    thead tr {
        display: none;
    }

    tr {
        border: 1px solid $table-border-color;
        border-collapse: collapse;
        margin: 20px;
        box-shadow: 0 0 0 0px $table-border-color;
    }

    #documents td {
        @include mobile-documents-table-header;
        
        border: none;
        border-bottom: 1px solid $table-border-color;
        position: relative;
        padding-left: 40%;
        overflow: hidden;
        text-overflow: ellipsis;

        &:first-child {
            background-color: $table-th-color;
        }

        &:before {
            @include padding(10px, 0px, 10px, 0px);
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            white-space: nowrap;
            font-style: italic;
        }

    }

    .documents-container .documents-table-body td:nth-child(1) {
        justify-content: flex-end;
        padding: 15px;
    }
}