// Navbar 
.documents-navbar {
  @include nav-bg-color;
  overflow: hidden;

  ul {
    @include nav-bg-color;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  li a {
    @include padding(20px, 20px, 20px, 20px);
    display: block;
    text-decoration: none;
    color: $color-black;

    i .nav-icon {
      color: $color-purple;
    }
  }

  li a:hover,
  .documents-navbar .menu-btn:hover {
    @include nav-hover-color;
    font-weight: 700;
  }

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;

    .nav-icon {
      color: $color-purple;
    }
  }

  .menu-icon {
    @include font-size(20px);
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    border: 1px solid $color-grey-light;
    border-radius: 5px;
    float: right;
  }

  .menu-btn {
    display: none;
  }

  .menu-btn:checked~.menu {
    max-height: 500px;
  }

}

@include media-breakpoint(desktop) {
  .documents-navbar {
    li {
      float: left;

      a {
        @include padding(20px, 20px, 20px, 20px);
      }

    }

    .menu {
      clear: none;
      max-height: none;
    }

    .menu-icon {
      display: none;
    }

    .user-info {
      float: right;
    }
  }
}