// Navbar 
.documents-navbar {
  overflow: hidden;
  @include nav-bg-color;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    @include nav-bg-color;
  }

  li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: $color-black;

    i .nav-icon {
      color: $color-purple;
    }
  }

  li a:hover,
  .documents-navbar .menu-btn:hover {
    @include nav-hover-color;
    font-weight: 500;
  }

  /* menu */
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;

    .nav-icon {
      color: $color-purple;
    }
  }

  .menu-icon {
    cursor: pointer;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    margin: 10px;
    padding: 15px;
    border: 1px solid $color-grey;
    border-radius: 5px;
    float: right;

    .navicon {
      @include nav-menu-color;
      display: block;
      height: 2px;
      position: relative;
      width: 18px;

      &:before {
        top: 5px;
      }

      &:after {
        top: -5px;
      }
    }
  }

  /* menu btn */
  .menu-btn {
    display: none;
  }

  .menu-btn:checked~.menu {
    max-height: 500px;
  }

}

.documents-navbar .menu-icon .navicon:before,
.documents-navbar .menu-icon .navicon:after {
  @include nav-menu-color;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  @include animation-dropdown-menu(.2s);
}


@media (min-width: 768px) {
  .documents-navbar {
    li {
      float: left;

      a {
        padding: 20px 30px;
      }

    }

    .menu {
      clear: none;
      float: left;
      max-height: none;
    }

    .menu-icon {
      display: none;
    }

  }
}