// Define variables
$font-family-sans-serif: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;
$navBackground: #E7E9EB;
$primaryText: black;
$white: #fff;
$black: black;
$grey: #666;
$green: #49b35e;
$red: #f43f31;
