// Define variables

// Color
$color-white: #F7F7F7;
$color-black: #00092C;
$color-grey: #D1D1D1;
$color-grey-light: #DFDFDE;
$color-red: #f43f31;
$color-purple: #da168e;
$color-green: #34b115;
$color-blue: #259aa7;
$color-yellow: #e7c478;

// Text Color
$text-primary: #00092C;

// Navbar
$nav-bg-color: #E7E9EB;
$nav-active-color: #00092C;
$nav-hover-color: #D1D1D1;
$nav-box-shadow: 0px 8px 16px 0px #00092C;

//Table
$table-th-color: #D1D1D1;
$table-th-color-light: #E7E9EB;
$table-border-color: #E7E9EB;

//Animation
$animation-2s : all .2s ease-out;

//Documents Table 
$dataHeaderTable:("File Type", "Name", "Modified", "Modified By");

//Breakpoints 
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;