@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

.documents-navbar {
  overflow: hidden;
  background-color: #E7E9EB;
  /* menu */
  /* menu btn */
}

.documents-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #E7E9EB;
}

.documents-navbar li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: black;
}

.documents-navbar li a i .nav-icon {
  color: #da168e;
}

.documents-navbar li a:hover,
.documents-navbar .documents-navbar .menu-btn:hover {
  background-color: rgba(191, 191, 191, 0.719);
  font-weight: 500;
}

.documents-navbar .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

.documents-navbar .menu .nav-icon {
  color: #da168e;
}

.documents-navbar .menu-icon {
  cursor: pointer;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 10px;
  padding: 15px;
  border: 1px solid #666;
  border-radius: 5px;
  float: right;
}

.documents-navbar .menu-icon .navicon {
  background-color: black;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.documents-navbar .menu-icon .navicon:before {
  top: 5px;
}

.documents-navbar .menu-icon .navicon:after {
  top: -5px;
}

.documents-navbar .menu-btn {
  display: none;
}

.documents-navbar .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.documents-navbar .menu-icon .navicon:before,
.documents-navbar .menu-icon .navicon:after {
  background-color: black;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

@media (min-width: 768px) {
  .documents-navbar li {
    float: left;
  }
  .documents-navbar li a {
    padding: 20px 30px;
  }
  .documents-navbar .menu {
    clear: none;
    float: left;
    max-height: none;
  }
  .documents-navbar .menu-icon {
    display: none;
  }
}

.documents-header {
  padding: 40px;
  font-weight: 300;
}

.documents-container .table-documents {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}

.documents-container .documents-table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
  color: #666;
}

.documents-container .documents-table-head tr th {
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 1.5em;
  text-align: left;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.documents-container .documents-table .file {
  text-align: center;
}

.documents-container .documents-table tr {
  z-index: 0;
  border-bottom: 1px solid #E7E9EB;
}

.documents-container .documents-table-body tr td {
  padding: 1rem .2rem;
}

.documents-container .documents-table-body td:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-size: 1.4rem;
}

.documents-container .documents-table-body td:nth-child(1)::after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  content: '';
  width: 2em;
  height: 2em;
  z-index: -2;
}

.file-icon.fa-folder-o {
  color: #666;
}

.file-icon.fa-file-excel-o {
  color: #34b115;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    font-weight: 700;
  }
  thead tr {
    display: none;
  }
  tr {
    border: 1px solid #E7E9EB;
    border-collapse: collapse;
    margin: 20px;
    -webkit-box-shadow: 0 0 0 0px #E7E9EB;
            box-shadow: 0 0 0 0px #E7E9EB;
  }
  #documents td {
    border: none;
    border-bottom: 1px solid #E7E9EB;
    position: relative;
    padding-left: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #documents td:first-child {
    background-color: #ccc;
  }
  #documents td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-style: italic;
    padding: 10px 0px 10px 0px;
  }
  #documents td:nth-of-type(1):before {
    content: "File Type";
  }
  #documents td:nth-of-type(2):before {
    content: "Name";
  }
  #documents td:nth-of-type(3):before {
    content: "Modified";
  }
  #documents td:nth-of-type(4):before {
    content: "Modified By";
  }
  .documents-container .documents-table-body td:nth-child(1) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 15px;
  }
}

.new-item {
  display: table-caption;
  font-size: 0.66em;
  position: relative;
  color: #f43f31;
  left: -10px;
}

.new-item::before {
  content: 'New';
}
/*# sourceMappingURL=home-page.css.map */